* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #b78d6a;
    color: #ffffff;
}

.event_form_container {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
    background-color: #344b33;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #484644;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    color: #344b33;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #acc8cd;
    font-size: 1.2rem;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
}

label, .event_request_link
{
    display: block;
    font-weight: bold;
    color: #acc8cd;
    font-size: 16px;
    padding: 10px 0px 5px 0px;
}

.locationDetail
{
    font-weight: bold;
    color: #acc8cd;
    font-size: 14px;
    padding: 5px 0px 5px 0px;
}
.eventTitle, .eventDate, .eventTime, .eventLocation, .eventDesc {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
select,
textarea {
    width: 98%;
    padding: 10px;
    border: 1px solid #484644;
    border-radius: 5px;
    font-size: 14px;
    background-color: #7f886e;
    color: white;
    outline: none;
}

input[type="date"]
{
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #484644;
    border-radius: 5px;
    font-size: 14px;
    background-color: #7f886e;
    color: white;
    outline: none;
}

.eventTime
{
    width: 50%;
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #484644;
    border-radius: 5px;
    font-size: 14px;
    background-color: #7f886e;
    color: white;
    outline: none;
}

input[type="text"]:focus,
select:focus,
textarea:focus {
    border-color: #ffffff;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.buttonContainer
{
    display: flex;
    justify-content: right;
    margin-top: 15px;
}

.submitButton,
.cancelButton {
    font-family: sans-serif;
    background-color: #acc8cd;
    color: #344b33;
    margin: 5px 5px;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.view {
    margin-top: 30px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #344b33;
    color: #8a9ea2;
    position: fixed;
    bottom: 0;
    width: 100%;
}